
{% extends "sign_in.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-4">
            <div class="card-tittle">
                <h4>Sign Up</h4>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    <div class="form-group">
                        <input 
                            type="text" 
                            name="usernameField" 
                            id="usernameField"
                            placeholder="username" 
                            class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <input 
                            type="email" 
                            name="emailField" 
                            id="emailField"
                            placeholder="Email" 
                            class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <input 
                            type="password" 
                            name="passwordField" 
                            id="passwordField"
                            placeholder="password" 
                            class="form-control form-control-sm">
                    </div>
                    <input type="submit" value="register" class="btn btn-block btn-primary">
                    <a href="" class="float right py-">Sign In</a>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<script src="{% static 'resgister.js' %}"></script>

{% endblock %}